body {
    font-family: 'Poppins',sans-serif;
    width: 400px;
    height: 300px;
    font-size: small;
    color: #3c00a0;
    min-height: max-content;
    background:linear-gradient(45deg,black 10%,#3c00a0,#a675f5);
    animation: gradtransition  4s infinite linear;
    background-size: 200% 200%;
}
button {
    background-color: #3c00a0;
    border: none;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 1.5rem;
    transition: 0.1s ease;
    margin: 5px 0 5px 0;
}
.root{
    position: relative;
    background-color: white;
    min-height: max-content;
    width: 95.5%;
    height: 93%;
    padding: 10px;
    border-radius: .8rem;
    display: grid;
    justify-content: center;
}
.seperator{
    background-color: #280069;
    height: 4px;
    border-radius: 20rem;
    width: auto;
    
}
.header{
    width: 120%;
    justify-self: center;
}
.heading{
    width: 100%;
    text-align: center;
}
.getform{
    width: 100%;
    justify-self: center;
}
.form_get{
    display: grid;
    position: relative;
    justify-content: center;
}
.form_get input{
    border: none;
    width: 100%;
    font: large;
    border-bottom: 3px solid #280069;
    text-align: center;
}
.form_get input:focus{
    outline: none;
}
.back{
    width: 75px;
}
.getpwd{
    margin: 10px;
    width: 150px;
}
.container{
    margin: 15px 0 15px 0;
    display: grid;
    width: 100%;
    justify-items: center;
    border-radius: 10px;
}
.generatePassword{
    font-size: small;
    text-align: center;
    
}
button:hover{
    background-color: #280069;
    transform: scale(1.02);
}
section.generated-password{
    position: relative;
    display: flex;
    align-items: center;
}
.generatedPassword ,.copy-password{
    margin-top: 20px;
    height: 1.5rem;
    border-radius: 2rem;
}
.generatedPassword{
    width: 100%;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid gray;
    border-right: none;
    background-color: rgb(202, 202, 202);
    font-size: 1rem;
    color: #3c00a0;
    outline: none;
    margin: 0;
}
.copy-password{
    height: 1.8rem;
    width: 2rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-left: none;
    border-radius: 0 .5rem .5rem 0;
}
.confirmation{
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 43%;
    width: 80%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    pointer-events: none;
    opacity: 0;
    transition: all .1s ease;
    &.active{
        pointer-events: all;
        opacity: 1;
    }
}
@keyframes gradtransition {
    0% {
      background-position: 0 100%;
    }
    50% {
      background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
  }